[Bb]in/
[Bb]uild/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
[Tt]ools/
![Tt]ools/packages.config
[Oo]utput/
nuget.exe
*.com
*.class
*.exe
*.o
*.so
*.user
Thumbs.db
_ReSharper*
*ReSharper.user
*dotCover
.JustCode
*.jtconfig
*.suo
bin
obj
.svn
ipch
*.ilk
*.sdf
*.opensdf
*.pdb
/*.~vsd
*UpgradeWizard*
.vs/
!lib/
TestResult.xml
node_modules/
/npm-debug.log
.cache-loader/
/UpgradeLog*
